.logoTexto {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.container input {
    margin-top: 10px;
    margin-bottom: 10px;
}
button {
    margin-top: 40px;
}