.container {
    height: 500px;
    width: 350px;
    padding: 10px;
}
span button {
    background-color: #f0f0f0;
    border: 1px solid black;
    width: 30px;
    height: 30px;
}
h1 {
    margin-bottom: 50px;
}
span {
    margin-top: 60px;
}
span.dias {
    margin-top: 10px;
}
#containers {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}
#containers span {
    margin-top: 10px;
}